*,::after,::before{
  margin: 0;
}

body{
  max-width: 1000px;
  margin: auto;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin: auto;
}

.logo-image{
  width: 70px;
  }
  .harmbugger-icon{
    display: none;
  }

.hero-section{
  background-image: url('assets/images/headphones_hero_1.jpg');
  background-size: cover;
  margin-bottom: 50px;
}

.hero-section .logo-navbar-container{
  display: flex;
  justify-content: space-around;
}

.navbar ul{
 list-style-type: none;
 padding: 0;
 overflow: hidden;
 margin-right: 100px;
 display: flex;
 flex-wrap: nowrap;
}

.navbar li{
  float: left;
}

.navbar a{
  text-decoration: none;
  padding: 15px;
  display: block;
  color: white;
}

.hero-section .middle-article{
 margin-top: 150px;
 margin-bottom: 50px;
  
}

.call-to-action{
  border: none;
  margin-bottom: 70px;
  color: white;
  background:#f16390;
  border-radius: 20px;
  padding: 7px 15px;
}
.last-article{
  padding-bottom: 100px;
  width: 450px;
  margin: auto;
  text-align: center;
}
@media(max-width:507px){
  .navbar a{
    font-size: 10px;
  }
}

@media(max-width: 480px){
 .navbar{
  display: none;
 }

 .logo-image{
  width: 150px;
  margin: auto;
  margin-top: 50px;

 }

 .middle-article{
  margin: auto;
 }
 .last-article{
  justify-content: center;
 }

 .harmbugger-icon{
  display: block;
  background: white;
  margin-top: 50px;
  margin-left: 20px;
 }
 
}

